.wrapper {
    font-size: 20px;
    width: 100%;
    color: white;
    background-color: #2BAFE5;
    padding: 20px 30px;
    box-shadow: 0px 5px 15px #00000059;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}
